<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="apps-accessories-menu" label="Accessories">
  <item label="Dropbox">
    <action name="Execute">
      <command>dropbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Transmission">
    <action name="Execute">
      <command>transmission-gtk</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Seafile">
    <action name="Execute">
      <command>seafile-applet</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
    <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Sublime Text">
    <action name="Execute">
      <command>~/Applications/sublime_text_3/./sublime_text</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Vim">
    <action name="Execute">
      <command>gvim</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Nano">
    <action name="Execute">
      <command>urxvt -e nano</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Leafpad">
    <action name="Execute">
      <command>leafpad</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="urxvt (Win+F1)">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="xterm">
    <action name="Execute">
      <command>xterm</command>
    </action>
  </item>
  <!-- <item label="gnome&#45;terminal (Win+F2)"> -->
  <!--   <action name="Execute"> -->
  <!--       <!&#45;&#45; <command>terminator &#38;#45;T "Terminal" &#38;#45;&#38;#45;geometry=960x660+30+25</command> &#45;&#45;> -->
  <!--       <command>sh ~/Files/Scripts/Sh/runTerminator.sh</command> -->
  <!--   </action> -->
  <!-- </item> -->
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Chromium (Win+Menu)">
    <action name="Execute">
        <command>chromium --window-size=1192,745 --enable-accelerated-compositing</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Chromium Fresh">
    <action name="Execute">
      <command>chromium --user-data-dir=/home/nplx/.cache/chromium-fresh --incognito --window-size=1192,745 --enable-accelerated-compositing</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
        <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <!-- <item label="dwb (Win+变换)"> -->
  <!--   <action name="Execute"> -->
  <!--     <command>dwb</command> -->
  <!--     <startupnotify> -->
  <!--       <enabled>yes</enabled> -->
  <!--     </startupnotify> -->
  <!--   </action> -->
  <!-- </item> -->
  <!-- <item label="qutebrowser"> -->
  <!--   <action name="Execute"> -->
  <!--     <command>qutebrowser</command> -->
  <!--     <startupnotify> -->
  <!--       <enabled>yes</enabled> -->
  <!--     </startupnotify> -->
  <!--   </action> -->
  <!-- </item> -->
  <item label="Claws Mail">
    <action name="Execute">
      <command>claws-mail</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="WPS Word">
    <action name="Execute">
      <command>/opt/WPS-Office-shortcut/wps.sh</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="ET Excel">
    <action name="Execute">
      <command>/opt/WPS-Office-shortcut/et.sh</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="WPP PPT">
    <action name="Execute">
      <command>/opt/WPS-Office-shortcut/wpp.sh</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="GNU Cash">
    <action name="Execute">
      <command>gnucash</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>


<menu id="apps-develop-menu" label="Dev">
  <item label="Code::Blocks">
    <action name="Execute">
      <command>codeblocks</command>
    </action>
  </item>
  <separator />
  <item label="IntelliJ">
    <action name="Execute">
        <command>idea.sh</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="PyCharm">
    <action name="Execute">
        <command>pycharm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Android Studio">
    <action name="Execute">
        <command>android-studio</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="VSCode">
    <action name="Execute">
        <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Netease Cloud Music">
    <action name="Execute">
      <command>netease-cloud-music --no-sandbox</command>
    </action>
  </item>
  <item label="Cmus">
    <action name="Execute">
      <command>urxvt -e cmus</command>
    </action>
  </item>
  <item label="Ncmpcpp">
    <action name="Execute">
      <command>urxvt -e ncmpcpp</command>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Filezilla">
    <action name="Execute">
      <command>filezilla</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Nautilus">
    <action name="Execute">
      <command>nautilus</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Thunar">
    <action name="Execute">
      <command>thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="7zip">
    <action name="Execute">
      <command>7zFM</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Mirage">
    <action name="Execute">
      <command>mirage</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="GIMP">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="openbox-menu" label="Configurations">
  <item label="Appearance Manager">
    <action name="Execute">
      <command>lxappearance</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="apps-misc-menu" label="Miscellaneous">
  <item label="System Minotor">
    <action name="Execute">
      <command>gnome-system-monitor</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="PDF Viewer">
    <action name="Execute">
      <!-- <command>evince</command> -->
      <command>epdfiview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Calculator">
    <action name="Execute">
      <command>galculator</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Start" />
    <item label="Terminal">
      <action name="Execute">
        <startupnotify>
          <enabled>yes</enabled>
          <name>urxvt</name>
        </startupnotify>
        <!-- <command>terminator &#45;&#45;geometry=960x660+30+25</command> -->
        <command>urxvt</command>
      </action>
    </item>
  <separator label="Applications" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-develop-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <menu id="apps-misc-menu"/>
  <separator label="System" />
  <menu id="openbox-menu"/>
  <menu id="system-menu"/>
  <separator />
  <menu id="system-menu" label="System">
    <item label="Lock Screen (Fn+F8)">
        <action name="Execute">
            <command>/bin/sh -c 'sleep 1 &amp;&amp; xset dpms force off'</command>
        </action>
        <action name="Execute">
            <command>i3lock</command>
        </action>
    </item>
    <separator />
    <item label="Exit">
      <action name="Execute">
        <!-- <prompt>Are you sure you want to reboot?</prompt> -->
        <command>oblogout</command>
      </action>
    </item>
    <!-- <separator /> -->
    <!-- <item label="Poweroff"> -->
    <!--   <action name="Execute"> -->
    <!--     <prompt>Are you sure you want to shut down Archlinux?</prompt> -->
    <!--     <command>systemctl poweroff</command> -->
    <!--   </action> -->
    <!-- </item> -->
  </menu>

</menu>

</openbox_menu>
